body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #33cccc;
    margin-bottom: 30px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #444444;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #33cccc;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

button:hover {
    background-color: #1a8c8c;
}

#result {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #33cccc;
    margin-top: 30px;
}

/* Default styles for larger screens */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #33cccc;
    margin-bottom: 30px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #444444;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #33cccc;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1a8c8c;
}

#result {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #33cccc;
    margin-top: 30px;
}


#resultSEM2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #33cccc;
    margin-top: 30px;
}

#totalGPA {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #33cccc;
    margin-top: 30px;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    form {
        padding: 10px;
    }

    select, button {
        padding: 6px;
        font-size: 14px;
    }
}

