body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h1 {
    color: #33cccc;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #444444;
    font-family: El Messiri;
    padding-top: 12px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #33cccc;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: GothicE;
    cursor: pointer;
}

button:hover {
    background-color: #1a8c8c;
}
